#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.column {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}

.column::-webkit-scrollbar {
  display: none;
}
